/*
!/.gitlab/
!/app/
!/services/
!/docs/
!/logs/
/docs/*.go
!/tests/
!/.env.example
!/.gitignore
!/.gitlab-ci.yml
!/kubernetes-deploy*.yml
!/docker-compose.yml
!/Dockerfile
!/go.mod
!/go.sum
!/main.go
!/magic.py
!/erd.jpg
!/flowcart.jpg
!/script.sql
!/MKP Cinema Ticketing.postman_collection.json
!/README.md
!/LICENSE
